appname = backend_rental
httpport = 8080
runmode = dev

[dev]
dbdriver = your_preferred_db_driver
dbuser = your_username
dbpassword = your_db_password
dbhost = your_db_host
dbport = 5432 
dbname = your_db_name
rapidapikey = da3e9fc45bmshe789fe44546bf15p1effc1jsn5a5396d76549

[prod]
dbdriver = your_preferred_db_driver
dbuser = your_username
dbpassword = your_db_password
dbhost = your_db_host
dbport = 5432 
dbname = your_db_name
rapidapikey = da3e9fc45bmshe789fe44546bf15p1effc1jsn5a5396d76549